{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <container>
        <div class="two-col-layout">
            <main class="main">
                <p>MVC kursen handlar om objektorienterad programmering inom PHP. 
                Objektorientering vidrörs bland annat inom webb ramverk tillsammans med databaser.</p>
                <a href="https://github.com/dbwebb-se/mvc">Kursens github repo</a>
            </main>
            <aside class="aside">
                <p.half>
                    Mit github repo för kursen: 
                    <a href="https://github.com/dbwebb-se/mvc">Kursens github repo</a>
                </p.half>
            </aside>
        </div>
    </container>
{% endblock %}
