{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Stella Karlsson</h1>
    <p>Jag heter Stella Karlsson och jag tycker om att läsa, koda, spela spel och kolla på filmer. 
    Jag pluggar på BTH i Karlskrona webbprogrammering. Tidigare har jag pluggat digital ljudproduktion. 
    Jag har lite erfarenhet med att göra spel samt att redigera film och ljudinspelning. </p>
    <img src="{{ asset('img/memo.jpg') }}" alt="repme">
{% endblock %}
